
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button {
	position: absolute;
    top: 501px;
    left: 559;
    z-index: 999;
    width: 321;
    height: 50px;
    opacity: 0;
}


@import url("//cloud.typography.com/6573692/633644/css/fonts.css");
@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
 ,
.video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

html {
	line-height: 1
}

ol,
ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q,
blockquote {
	quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none
}

a img {
	border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

@-webkit-keyframes LBLUEPULSE {
	0% {
		background: #55ade1;
		box-shadow: 0 0 1px rgba(85, 173, 225, 0)
	}
	100% {
		background: #9ddbff;
		box-shadow: 0 0 10px #d7ecf8
	}
}

@-moz-keyframes LBLUEPULSE {
	0% {
		background: #55ade1;
		box-shadow: 0 0 1px rgba(85, 173, 225, 0)
	}
	100% {
		background: #9ddbff;
		box-shadow: 0 0 10px #d7ecf8
	}
}

@-o-keyframes LBLUEPULSE {
	0% {
		background: #55ade1;
		box-shadow: 0 0 1px rgba(85, 173, 225, 0)
	}
	100% {
		background: #9ddbff;
		box-shadow: 0 0 10px #d7ecf8
	}
}

@keyframes LBLUEPULSE {
	0% {
		background: #55ade1;
		box-shadow: 0 0 1px rgba(85, 173, 225, 0)
	}
	100% {
		background: #9ddbff;
		box-shadow: 0 0 10px #d7ecf8
	}
}

@-webkit-keyframes BLUEPULSE {
	0% {
		background: #2772b8;
		box-shadow: 0 0 1px rgba(85, 173, 225, 0)
	}
	100% {
		background: #46a6ff;
		box-shadow: 0 0 10px #d7ecf8
	}
}

@-moz-keyframes BLUEPULSE {
	0% {
		background: #2772b8;
		box-shadow: 0 0 1px rgba(85, 173, 225, 0)
	}
	100% {
		background: #46a6ff;
		box-shadow: 0 0 10px #d7ecf8
	}
}

@-o-keyframes BLUEPULSE {
	0% {
		background: #2772b8;
		box-shadow: 0 0 1px rgba(85, 173, 225, 0)
	}
	100% {
		background: #46a6ff;
		box-shadow: 0 0 10px #d7ecf8
	}
}

@keyframes BLUEPULSE {
	0% {
		background: #2772b8;
		box-shadow: 0 0 1px rgba(85, 173, 225, 0)
	}
	100% {
		background: #46a6ff;
		box-shadow: 0 0 10px #d7ecf8
	}
}

@-webkit-keyframes WHITEPULSE {
	0% {
		background: rgba(255, 255, 255, 0)
	}
	100% {
		background: rgba(255, 255, 255, 0.3)
	}
}

@-moz-keyframes WHITEPULSE {
	0% {
		background: rgba(255, 255, 255, 0)
	}
	100% {
		background: rgba(255, 255, 255, 0.3)
	}
}

@-o-keyframes WHITEPULSE {
	0% {
		background: rgba(255, 255, 255, 0)
	}
	100% {
		background: rgba(255, 255, 255, 0.3)
	}
}

@keyframes WHITEPULSE {
	0% {
		background: rgba(255, 255, 255, 0)
	}
	100% {
		background: rgba(255, 255, 255, 0.3)
	}
}

@-webkit-keyframes LAUNCH {
	0% {
		background: white;
		box-shadow: 0 0 5px rgba(85, 173, 225, 0)
	}
	100% {
		background: #d5ecfa;
		box-shadow: 0 0 5px #4bb0eb
	}
}

@-moz-keyframes LAUNCH {
	0% {
		background: white;
		box-shadow: 0 0 5px rgba(85, 173, 225, 0)
	}
	100% {
		background: #d5ecfa;
		box-shadow: 0 0 5px #4bb0eb
	}
}

@-o-keyframes LAUNCH {
	0% {
		background: white;
		box-shadow: 0 0 5px rgba(85, 173, 225, 0)
	}
	100% {
		background: #d5ecfa;
		box-shadow: 0 0 5px #4bb0eb
	}
}

@keyframes LAUNCH {
	0% {
		background: white;
		box-shadow: 0 0 5px rgba(85, 173, 225, 0)
	}
	100% {
		background: #d5ecfa;
		box-shadow: 0 0 5px #4bb0eb
	}
}

@-webkit-keyframes WIDTH {
	0% {
		width: 0px
	}
	100% {
		width: 100px
	}
}

@-moz-keyframes WIDTH {
	0% {
		width: 0px
	}
	100% {
		width: 100px
	}
}

@-o-keyframes WIDTH {
	0% {
		width: 0px
	}
	100% {
		width: 100px
	}
}

@keyframes WIDTH {
	0% {
		width: 0px
	}
	100% {
		width: 100px
	}
}

html {
	background: #7db9e8;
	background: -moz-radial-gradient(center, ellipse cover, #7db9e8 0%, #4587bc 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #7db9e8), color-stop(100%, #4587bc));
	background: -webkit-radial-gradient(center, ellipse cover, #7db9e8 0%, #4587bc 100%);
	background: -o-radial-gradient(center, ellipse cover, #7db9e8 0%, #4587bc 100%);
	background: -ms-radial-gradient(center, ellipse cover, #7db9e8 0%, #4587bc 100%);
	background: radial-gradient(ellipse at center, #7db9e8 0%, #4587bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#4587bc', GradientType=1);
	-webkit-font-smoothing: antialiased
}

.body {
	width: 960px;
	padding: 50px 0 0;
	margin: 0 auto;
	position: relative;
	font-family: "Montserrat", sans-serif
}

h2 {
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 20px;
	color: white;
	font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", "Arial", sans-serif
}

p {
	color: white;
	margin-bottom: 1em;
	font-size: 20px;
	line-height: 1.48em
}

b {
	font-weight: 500;
	color: #010101
}

a {
	text-decoration: none;
	border-bottom: 2px solid white;
	padding-bottom: 2px;
	color: white
}

a:hover {
	color: #2772b8;
	border-bottom: 2px solid #2772b8
}

.left,
.right {
	width: 50%;
	min-height: 10px;
	display: inline-block;
	float: left
}

.not_compatible {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	height: 100%;
	display: none;
	background: rgba(21, 26, 32, 0.95);
	color: white
}

.not_compatible p {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding-top: 200px;
	font-family: "Gotham SSm A", "Gotham SSm B", "Arial", sans-serif;
	font-weight: 300
}

.not_compatible img {
	margin: 0 auto;
	display: block;
	margin-top: 40px
}

.not_compatible a {
	color: white
}

.not_compatible a:hover {
	color: #55ade1;
	border-bottom: 2px solid #55ade1
}

canvas {
	display: block;
	margin: 0 auto
}

.screen {
	width: 354px;
	height: 631px;
	position: absolute;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	top: 93px;
	left: 62px;
	background-color: #000;
}

.iphone-container {
	position: relative;
	display: none
}

.video {
	position: relative;
	z-index: 1;
	display:  block;
	width: 100%;
	height: 100%;
	top: 0;
}

.control {
	font-family: "Gotham SSm A", "Gotham SSm B", "Arial", sans-serif;
	background: #2772b8;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	width: 50%;
	margin-top: 50px;
	display: block;
	letter-spacing: 1px;
	font-weight: 500;
	padding: 15px
}

.control:hover {
	cursor: pointer;
	background: #2b7fcd;
	transition: all .2s ease-in-out
}

#timer {
	font-family: helvetica;
	font-weight: 600;
	position: relative;
	color: red;
	visibility: hidden;
	width: 100%;
	font-size: 2em;
	clear: both;
	top: 20px
}

#timer:before {
	content: 'Timestamp: '
}

#message-container {
	padding-top: 50px;
	color: black;
	font-family: "Gotham SSm A", "Gotham SSm B", "Arial", sans-serif;
	font-weight: 300;
	display: none;
	border-radius: 5px;
	margin-top: 1em;
	opacity: 1;
	line-height: 1.48em;
	top: 0;
	left: 0;
	font-size: 1em;
	width: 440px
}

#message-container h2 {
	color: white;
	font-weight: 500;
	letter-spacing: -1px
}

#message-container h2:after {
	content: '';
	display: block;
	border-bottom: 5px solid #2772b8;
	margin-top: 25px;
	-webkit-animation: WIDTH 1s ease-in-out;
	-moz-animation: WIDTH 1s ease-in-out;
	-o-animation: WIDTH 1s ease-in-out;
	animation: WIDTH 1s ease-in-out;
	width: 100px
}

#control {
	color: white;
	display: block;
	border-radius: 0 0 5px 5px;
	width: 480px;
	background: #151a20;
	position: relative
}

#control #pagination {
	padding: 30px 20px
}

#control #next {
	padding: 30px 40px;
	right: 0;
	top: 0;
	border-radius: 0 0 5px 0;
	background: #55ade1;
	position: absolute
}

.message {
	background: #2772b8;
	width: 300px;
	height: auto;
	font-size: 1em;
	font-family: "Gotham SSm A", "Gotham SSm B", "Arial", sans-serif;
	font-weight: 300;
	color: white
}

.message h2,
.message p {
	visability: hidden
}

#m1,
#m2,
#m3 {
	position: absolute;
	display: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

#m1 {
	top: 120px;
	left: -60px
}

#m1:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 0 0 50px;
	border-color: transparent transparent transparent #2772b8;
	position: absolute;
	bottom: 0;
	right: -25px
}

#m2 {
	top: 120px;
	left: 648px
}

#m2:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 50px 50px;
	border-color: transparent transparent #2772b8 transparent;
	position: absolute;
	bottom: 0;
	left: -25px
}

#m3 {
	left: 648px;
	top: 200px
}

#m3:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 50px 50px;
	border-color: transparent transparent #2772b8 transparent;
	position: absolute;
	bottom: 0;
	left: -25px
}

.button {
	text-transform: uppercase
}

.button.next {
	position: absolute;
	z-index: 999;
	cursor: pointer;
	box-shadow: 0 0 -10px green
}

.button.next.active {
	display: block
}

#sign_in {
    background: #fff;
    width: 40;
    left: 40;
    top: 86px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    opacity: 0;
    font-weight: 100;
    padding: 20px 0;
	-webkit-animation: LBLUEPULSE 1s infinite alternate ease-in-out;
	-moz-animation: LBLUEPULSE 1s infinite alternate ease-in-out;
	-o-animation: LBLUEPULSE 1s infinite alternate ease-in-out;
	animation: LBLUEPULSE 1s infinite alternate ease-in-out
}

#download_tickets {
    background: #2772b8;
    width: 100%;
    text-align: Center;
    bottom: 0px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    padding: 30px 0 28px;
	-webkit-animation: BLUEPULSE 1s infinite alternate ease-in-out;
	-moz-animation: BLUEPULSE 1s infinite alternate ease-in-out;
	-o-animation: BLUEPULSE 1s infinite alternate ease-in-out;
	animation: BLUEPULSE 1s infinite alternate ease-in-out
}

#make_selection {
	background: #2772b8;
	width: 100%;
	text-align: Center;
	bottom: 0;
	text-transform: uppercase;
	color: white;
	font-size: 15px;
    padding: 30px 0 28px;
	-webkit-animation: BLUEPULSE 1s infinite alternate ease-in-out;
	-moz-animation: BLUEPULSE 1s infinite alternate ease-in-out;
	-o-animation: BLUEPULSE 1s infinite alternate ease-in-out;
	animation: BLUEPULSE 1s infinite alternate ease-in-out
}

.ps {
	display: none
}

#launch_scanner {
width: 292px;
    left: 31px;
    top: 241px;
    color: #2772b8;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -.2px;
    font-weight: 300;
    font-size: 15px;
    padding: 27px 0 27px;
	-webkit-animation: LAUNCH 1s infinite alternate ease-in-out;
	-moz-animation: LAUNCH 1s infinite alternate ease-in-out;
	-o-animation: LAUNCH 1s infinite alternate ease-in-out;
	animation: LAUNCH 1s infinite alternate ease-in-out
}

#showclix_party {
	width: 100%;
	height: 83px;
	display: none;
	position: absolute;
	z-index: 999;
	top: 321px;
	cursor: pointer
}

#online_special {
         display: none;
    width: 100%;
    height: 50px;
    display: none;
    position: absolute;
    z-index: 999;
    top: 389;
    cursor: pointer;
}

#radio_btn_checked {
    width: 25px;
    height: 25px;
    background: url(img/checked.png);
    background-size: cover;
    /* display: none; */
    position: absolute;
    z-index: 999;
    color: white;
    border-radius: 20px;
    top: 349px;
    text-align: center;
    line-height: 18px;
    right: 17px;
    opacity: 0;
}

#radio_btn_checked:hover {
	cursor: pointer
}

#radio_btn_unchecked {
    width: 25px;
    height: 25px;
    background: url(img/unchecked.png);
    background-size: cover;
    /* display: none; */
    position: absolute;
    z-index: 999;
    color: white;
    border-radius: 20px;
    top: 403px;
    text-align: center;
    line-height: 18px;
    right: 16px;
    opacity: 0;
	opacity: 0
}

#radio_btn_unchecked:hover {
	cursor: pointer
}

#dismiss {
    display: none;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 999;
    cursor: pointer;
    position: absolute;
	-webkit-animation: WHITEPULSE 1s infinite alternate ease-in-out;
	-moz-animation: WHITEPULSE 1s infinite alternate ease-in-out;
	-o-animation: WHITEPULSE 1s infinite alternate ease-in-out;
	animation: WHITEPULSE 1s infinite alternate ease-in-out
}

#dismiss.active {
	display: block
}