<div class="container">
    <div class="row gutter-3">
        <div class="col-12 col-md-2">
            <a href="#"><img src="/assets/img/patron-logo-white.png" alt="Logo"></a>
        </div>
        <div class="col-12 col-md-6 text-white">
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="row">
                <div class="col">
                    <ul class="list-group list-group-minimal">
                        <li class="list-group-item"><a href="" class="#">Link</a></li>
                        <li class="list-group-item"><a href="" class="#">Link</a></li>
                        <li class="list-group-item"><a href="" class="#">Link</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-group list-group-minimal">
                        <li class="list-group-item"><a href="" class="#">Link</a></li>
                        <li class="list-group-item"><a href="" class="#">Link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>