body {
	font-family: 'Open Sans', sans-serif;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
		padding: 0 15px 0 15px;
		margin-right: auto;
		margin-left: auto;
	}

	#page1 {
		background-image: url(./img/u9000.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
		background-size: 40rem;
		background-position-x: right;
		background-position-y: top;
	}
	.background {
		background-image: url(./img/search.png);
		background-repeat: no-repeat;
		background-size:25em;
		background-position-x: right;
		background-position-y: center;

	}
}
@media (min-width: 1200px){
	.container {
		width: 750px;
	    padding: 0 15px 0 15px;
		margin-right: auto;
		margin-left: auto;
	}

	#page1 {
		background-image: url(./img/u9000.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
		background-size: 40rem;
		background-position-x: right;
		background-position-y: top;
	}
	.background {
		background-image: url(./img/search.png);
		background-repeat: no-repeat;
		background-size:25em;
		background-position-x: right;
		background-position-y: center;

	}
}





#contract {
	font-size: 16px;
	line-height: 30px;
	
}
#contract p {
	margin: 0 0 10px;
}
#contract .logo {
	margin-bottom: 10px;
}

#qrcode {
	margin-top: 2.5em;
	margin-left: 2em;
}



li {
	padding-top: .5em;
	margin-left: none;
}

ul, ol {
	list-style:none;
	padding-left: 1em;
}